<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} (%F:%L) [%c][%p] %msg%n"/>
        </Console>
        <RollingFile name="RollingFileInfo" fileName="./logs/info.log"
                     filePattern="./logs/info-%d{yyyy-MM-dd}-%i.log">
            <!--控制台只输出debug及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} (%F:%L) [%c][%p] %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
        </Root>
        <Logger name="org.reflections.Reflections" level="error">
        </Logger>
    </Loggers>
</configuration>